* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lexend Mega';
}

header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

nav {
    width: 100%;
    padding-bottom: 1.2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

nav a {
    color: black;
}

/* Hero section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./resources/imgs/skyscrapers.webp');
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.hero .title {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 2rem 0px;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.binner {
    text-align: center;
    font-size: 1.2rem;
    padding: 3rem 0.5rem;

}

.imgs-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;    
    justify-content: space-around;
    gap: 0.4rem;
}

.img-container {
    overflow: hidden;
    display: flex;
    width: 450px;
    justify-content: center;
    align-items: center;

}

.img-container img {
    display: block;
    width: 50%;
    
}

.img-container h2 {
    width: 50%;
    font-size: 1.3rem;
}

.team {
    text-align: center;

}

.team .gellary {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 4rem;
    background-image: url('./resources/imgs/blurred-road.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 20px;
}

.gellary .img-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.5rem;
    color: white;
    width: 260px;
}


.gellary .img-container img {
    display: block;
    width: 100%;
    height: auto;

}

.gellary .img-container h2 {
    width: 100%;
}

footer {
    text-align: center;
}

footer h1, a, p {
    margin: 2rem;
}

